
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
*{
    margin: 0px; padding: 0px; 
    box-sizing: border-box;
    text-decoration: none; 
       font-family: 'Inter', sans-serif;
}
body{
    height: 100vh;
    /* text-align: center; */
    padding: 2rem;
    background-color: var(--background-color);

}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    /* border: solid black 1px; */
    max-width: 75vw;
    margin: 0 auto;
}
.logo{
    display: flex;
      align-items: center;
      font-size: 2rem;
      font-weight: 800;
      color: var(--text-color);
      text-decoration: none;
      gap: 0.625rem;
      
}
.logo-icon{
    height:5.875rem ; width:1.938rem ;
}
.nav{
     width: 30%;
    display:none;
    gap: 1.7rem;
    font-weight: 700; font-size: 20px;
}
@media  screen and (min-width:1223px) {
    .nav{
        display:flex;


    }
}
.nav-link{
 color: var(--text-color);
    transform: color 0.1s;
}
.nav-link:hover{
    color: var(--link-color);
}

.contact-button{

 border-radius: 9PX;
background-color: #2563eb;
    color:var(--background-color);
    transform: all 0.1s;
    height: 3rem;
    width: 7rem;
    display:none;
    align-items: center;
    font-weight: 600;
}
.contact-button:hover{
    background-color: rgb(38, 0, 128);
}
@media  screen and (min-width:1223px) {
    .contact-button{
            display: flex; flex-direction: row; justify-content: center;
    }
}
.menu-button{
    display: none;
    border: none;
}
@media screen and (max-width:1223px)
{
    .menu-button{display: flex;
    border-radius: 0.375rem;}
    
    
}
.menu-icon{
    height: 1.5rem; width: 1.5rem;}
    .main{
        max-height: 1280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding:0.6rem ;
       margin: 0 auto;

    }
.content-left{
    text-align: center;
    animation:slideFromLeft 1s ease forwards;
     opacity: 0;


}
.content-left{
    text-align: center;
animation: slideFromLeft 1.3s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {

    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
    

}
.section-label{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary-color);
}
.section-title{
    font-size: 2.5rem; 
    padding: 1rem;
    color: var(--text-color);
}
.section-title:hover{
    color: #171aa0;
    text-decoration: underline;
}
.section-description{
    font-size: 1.25rem; color: var(--gray);
}
.buton-group{
    display: flex;
    gap: 2-rem;
    padding:1rem;
    margin-top:1rem;
    align-items: center;
    justify-content: center;
}
.start-button,.tour-button{
    display: inline-block;
    border-radius: 9PX;
background-color: #2563eb;
    color:var(--background-color);
    transform: all 0.1s;
    height: 3rem;
    width: 7rem;
 padding: 0.9rem 0.9rem;
    font-weight: 600;

}
.start-button:hover{
    background-color: rgb(38, 0, 128);
}
.tour-button{
    background-color: var(--dark-gray);
}
.tour-button:hover{
    background-color: darkgrey;
}
.content-right{
    display: flex;
    align-items: center;justify-content: center;
}
.image_conatiner{
border-radius: 10px;
overflow: hidden;
height: 60vh;


}
.section-image{
  height: 30rem;
  display: flex; flex-direction: row;justify-content: center;
}
@media screen and (min-width:1416px){
    .content{
      display: flex; flex-direction: row; 
      padding: 30px;
    }
 
    .main{
        height: 37rem; width: 35rem;
        display: flex;flex-direction:column;
        align-items: stretch;
        justify-content: space-between; 
        margin-left: 0;
    }
    .section-label{
display: flex;flex-direction: row;justify-content: flex-start
;

    }
    .section-title{
          padding: 0;
          display: flex;flex-direction: row;justify-content: flex-start;
          font-size:3rem; 
        
           
    }
    .dsecription{
   font-size: 1.28rem;

    }
  .section-image{
    height: 660px;
    width: 900px;
    border-radius: 10px;
  }
  .image_conatiner{
    height: 800px;
    width: 900px;
  }

}
.svgs
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.google{
    height: 50px;
    width: 60px;
}
.microsoft{
    height: 50px;
    width: 60px;
}
.github
{
    height: 50px;
    width: 60px;
}
.vector{
    height: 50px;
    width: 60px;
}
.socials{
    height: 70px;
    width: 70%;
    
    display: flex; flex-direction: row;justify-content: center;
    align-items: center;
    gap: 2.9rem;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.096);
}
.trusted{
    
    height: 60px;
      display: flex; flex-direction: row;justify-content: center;
    align-items: center;
    font-size:29px;
}
@media screen and (min-width:1416px)
{
    .trusted{
        height: 70px;
        font-size: 35px;
    }
    .socials{
        height: 80px;
        width: 73%;
        gap: 3.1rem;
    }
    .google{
    height: 45px;
    width: 60px;
}
.microsoft{
    height: 45px;
    width: 60px;
}
.github
{
    height: 45px;
    width: 60px;
}
.vector{
    height: 45px;
    width: 60px;
}
}
.three{
display: flex;
flex-direction: column; 
align-items: center;

}
.p-pic{
    height:50px ; width:50px ;
}
.a-pic{
 height:50px ; width:50px ;
}
.i-pic{
     height:50px ; width:50px ;
}
.innovative-pic{
 height:50px ; width:50px ;
}
.call-pic{
 height:50px ; width:50px ;
}
.Analytics-pic{
 height:50px ; width:50px ;
}
.card-header{
    margin-top: 30px;
    height: 90px; width: 100%; 
      display: flex; flex-direction: column;justify-content: center;
    align-items: center;
    border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.096);

    
}
.competitive{
    font-size: 32px;
}
.competitive-para{
    margin-top: 12px;
    font-size:medium;
    width: 55%;
          background-color: rgba(0, 0, 0, 0.096);
    text-align: center;
}
.cards-self{
   padding: 50px;
border-radius: 14px;
          background-color: rgba(0, 0, 0, 0.096);
    height: 1000px; width: 1450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 1fr);
   column-gap: 1rem;
   


  
}
.p{

height: 15rem;
width: 22rem;
background-color:rgb(135, 137, 235) ;
color:white;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
justify-self: end;


}
.a{
height: 15rem;
width: 22rem;
color: white;
border-radius: 10px;
background-color: palevioletred;
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;justify-self: start;
}
.i{
border-radius: 10px;
height: 15rem;
width: 22rem;
background-color: rgba(214, 214, 39, 0.726);
color: #ffffff;
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;justify-self: end;
}
.innovative{
border-radius: 10px;
height: 15rem;
width: 22rem;
background-color: rgb(92, 184, 184);
color: white;
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;justify-self: start;
}
.r{
border-radius: 10px;
height: 15rem;
width: 22rem;
color: white;
background-color: rgba(100, 155, 17, 0.74);
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;justify-self: end;
}
.a1{
border-radius: 10px;
height: 15rem;
width: 22rem;
background-color: #171aa0;
color: white;
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;justify-self: start;
}

.iframe{
    background-color: whitesmoke;
    width: 22%;
    border-radius: 50%;
}
.Analytics-pic{
    background-color: #ffffff;
    border-radius:30% ;
}
.innovative-pic{
        background-color: #ffffff;
    border-radius:30% ;
}
.others-say{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header{
    text-align: center;
    font-size: x-large;
    color: var(--text-color);
}
.header{
    text-align: center;
animation: slideFromLeft 1.3s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {

    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }}
.agents{
    display: flex; flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    width:80% ;
   

}
.agent-1,.agent2,.agent3{
    border: solid black 0.6px;
    border-radius: 15px;
    padding: 2rem;
height: 20rem;
width: 30rem;
display: flex; flex-direction: column; 
align-items: center;

}
.agent-1:hover{
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.15);
     background-color:lightslategray;
     color: #f0f0f0;
     
}
.agent2:hover{
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.15);
     background-color:lightslategray;
     color: #f0f0f0;
}
.agent3:hover{
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.15);
     background-color:lightslategray;
     color: #f0f0f0;
}

.avatar-1,.avatar-2,.avtar-3{
    height: 100px; width: 100px;
}
.agent-name{
    color: var(--link-color);
}
.agent-name:hover{
    color: white;
}
.login{
    display: flex;
    flex-direction: row;
}
.login-image{
    height:30rem ;
}
.email{}
.latesth1{
    color: var(--accent-color);
}
.latesth2{
    font-size: medium;
   
}














.google-footer,.vector-footer,.microsoft-footer,.github-footer{
    height: 50px;
    width: 60px;
}
